.body {
    background-image: url('./Pictures/club-background.png');
    background-size: cover;
    background-position: center;
    background-repeat:
  no-repeat;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden; /* Prevents horizontal scrollbar */
  }

.background-image {
  background-image: url('./Pictures/club-background.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  }