.hero-section {
    background-image: url('./Pictures/club-background.png'); /* Update with the correct path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Example height */
  }
  @keyframes smokeEffect {
    0% { opacity: 0; transform: translateY(0) scale(1); }
    100% { opacity: 1; transform: translateY(-20px) scale(1.5); }
  }
  
  .smoke {
    animation: smokeEffect 12s ease-in-out infinite alternate;
    position: absolute;
    z-index: 10
    /* You will need to position each smoke element accordingly */
  }

  @keyframes walkCycle {
    0% { background-position: 0 0; }
    100% { background-position: -800px 0; /* adjust based on sprite sheet */ }
  }
/*   


  